#wrapper {
  background-color: black;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width:1100px;
}

* {
  color: white;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: lighter;
}
